<nav aria-label="navigation">
  <mat-nav-list class="m-0 min-w-[16rem]">
    <ul>
      @for (item of internalItems(); track item.id) {
        @if (!item.hidden) {
          <li class="m-[3px]">
            @switch (item.type) {
              @case ('divider') {
                <mat-divider class="my-2"></mat-divider>
              }
              @case ('spacer') {
                <div class="h-4"></div>
              }
              @case ('group') {
                <div
                  class="px-2 pb-2 text-xs font-semibold uppercase tracking-wider"
                  style="color: var(--mat-sys-primary)"
                >
                  {{ item.title }}
                </div>

                @if (item.children && item.children.length > 0) {
                  <ul>
                    @for (child of item.children; track child.id) {
                      @if (!child.hidden) {
                        <li>
                          <nav-item
                            [item]="child"
                            [centerIcon]="false"
                            [hideText]="false"
                            [showBadge]="true"
                          />
                        </li>
                      }
                    }
                  </ul>
                }
              }
              @case ('collapsable') {
                @if (item.children && item.children.length > 0) {
                  <nav-collapsable-item
                    [item]="item"
                    [centerIcon]="false"
                    [hideText]="false"
                    [hideChildren]="false"
                    [showBadge]="true"
                    [isActive]="hasActiveChild(item)"
                    [indentChildren]="true"
                    (toggleExpand)="toggleExpand(item)"
                  />
                }
              }
              @case ('basic') {
                <nav-item
                  [item]="item"
                  [centerIcon]="false"
                  [hideText]="false"
                  [showBadge]="true"
                />
              }
            }
          </li>
        }
      }
    </ul>
  </mat-nav-list>
</nav>
