<nav
  aria-label="navigation"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
  class="overflow-hidden transition-[width] duration-300 ease-in-out"
  style="will-change: width"
  [style.width]="isTemporarilyExpanded() ? expandedWidth() : denseWidth()"
>
  <mat-nav-list class="m-0">
    <ul>
      @for (item of internalItems(); track item.id) {
        @if (!item.hidden) {
          <li class="m-[3px]">
            @switch (item.type) {
              @case ('divider') {
                <mat-divider class="my-2"></mat-divider>
              }
              @case ('spacer') {
                <div class="h-4"></div>
              }
              @case ('group') {
                <div class="group-header-container">
                  <div
                    class="group-title"
                    [class.group-title--visible]="isTemporarilyExpanded()"
                    [class.group-title--hidden]="!isTemporarilyExpanded()"
                  >
                    {{ item.title }}
                  </div>
                  <div
                    class="group-divider"
                    [class.group-divider--visible]="!isTemporarilyExpanded()"
                    [class.group-divider--hidden]="isTemporarilyExpanded()"
                  ></div>
                </div>

                @if (item.children && item.children.length > 0) {
                  <ul>
                    @for (child of item.children; track child.id) {
                      @if (!child.hidden) {
                        <li>
                          <nav-item
                            [item]="child"
                            [centerIcon]="!isTemporarilyExpanded()"
                            [hideText]="!isTemporarilyExpanded()"
                            [showBadge]="isTemporarilyExpanded()"
                          />
                        </li>
                      }
                    }
                  </ul>
                }
              }
              @case ('collapsable') {
                @if (item.children && item.children.length > 0) {
                  <nav-collapsable-item
                    [item]="item"
                    [centerIcon]="!isTemporarilyExpanded()"
                    [hideText]="!isTemporarilyExpanded()"
                    [hideChildren]="!isTemporarilyExpanded()"
                    [showBadge]="isTemporarilyExpanded()"
                    [isActive]="hasActiveChild(item)"
                    [indentChildren]="true"
                    (toggleExpand)="onToggleExpand(item)"
                  />
                }
              }
              @case ('basic') {
                <nav-item
                  [item]="item"
                  [centerIcon]="!isTemporarilyExpanded()"
                  [hideText]="!isTemporarilyExpanded()"
                  [showBadge]="isTemporarilyExpanded()"
                />
              }
            }
          </li>
        }
      }
    </ul>
  </mat-nav-list>
</nav>
