<mat-sidenav-container class="sidenav-container">
  <!-- Navigation Sidenav (Left) -->
  <mat-sidenav
    #drawer
    class="sidenav overflow-hidden [--mat-sidenav-container-shape:0] rounded-none!"
    fixedInViewport
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <div class="flex flex-col w-full h-full overflow-hidden">
      <!-- Header -->
      <div navHeader class="logo-header-container" [class.logo-header-container--centered]="!isNavExpanded()">
        <app-identity [width]="40" [height]="40" [showText]="isNavExpanded()" />
      </div>    

      <mat-divider />

      <!-- Dense Navigation -->
      <nav-dense [navItems]="navItems()" #navDense />

      <!-- User Account Section -->
      <div class="user-account-container bg-surface-soft" [class.user-account-container--centered]="!isNavExpanded()">
        <user-account class="cursor-pointer user-account-icon" />
        <div
          class="user-account-info"
          [class.user-account-info--visible]="isNavExpanded()"
          [class.user-account-info--hidden]="!isNavExpanded()"
        >
          <div class="user-account-name">
            Brian Hughes
          </div>
          <div class="user-account-email">
            brian.hughes&#64;company.com
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav>

  <!-- Settings Sidenav (Right) -->
  <mat-sidenav
    #settings
    class="overflow-hidden [--mat-sidenav-container-shape:0] rounded-none!"
    position="end"
    mode="over"
  >
    <app-settings
      #settingsPanel
      [class]="'theme-' + themeColor()"
      [currentLayout]="currentLayout()"
      [availableLayouts]="availableLayouts()"
      [availableThemes]="availableThemes()"
      (layoutChange)="layoutChange.emit($event)"
      (themeChange)="themeChange.emit($event)"
      (schemeChange)="schemeChange.emit($event)"
    />
  </mat-sidenav>

  <!-- Main Content -->
  <mat-sidenav-content>
    <mat-toolbar class="shadow-sm z-50">
      <button type="button" mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <span class="flex-1"></span>

      <!-- Settings Button -->
      <button mat-icon-button (click)="settings.open()" aria-label="Open settings">
        <mat-icon>settings</mat-icon>
      </button>
    </mat-toolbar>

    <div class="content-scroll">
      <div class="content-inner">
        <div class="mx-auto">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
