<div
  class="flex flex-col items-center justify-center flex-auto min-w-0 min-h-screen bg-gray-100 dark:bg-gray-800"
>
  <div
    class="flex flex-col w-full max-w-[500px] mx-auto bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-700 rounded-2xl shadow-md p-10 pb-18"
  >
    <!-- Logo -->
    <div class="group cursor-pointer flex justify-center">
      <app-logo [theme]="'light'" variant="immo-black-1" [width]="'300px'" />
    </div>

    <!-- Título -->
    <div class="mt-2 text-3xl font-extrabold tracking-tight leading-tight text-center">Iniciar sesión</div>

    <!-- Alerta Dinámica -->
    @if (showAlert) {
    <div class="mt-6">
      {{ alert.message }}
    </div>
    }

    <!-- Formulario de inicio de sesión -->
    <form class="mt-6" [formGroup]="signInForm" #signInNgForm="ngForm">
      <!-- Campo de correo electrónico -->
      <mat-label>Dirección de correo electrónico</mat-label>
      <mat-form-field class="w-full" [appearance]="'outline'">
        <input id="email" matInput [formControlName]="'email'" />
        @if (signInForm.get('email')?.hasError('required')) {
        <mat-error>La dirección de correo electrónico es obligatoria</mat-error>
        } @if (signInForm.get('email')?.hasError('email')) {
        <mat-error>Por favor, introduce una dirección de correo electrónico válida</mat-error>
        }
      </mat-form-field>

      <!-- Campo de contraseña -->
      <mat-label>Contraseña</mat-label>
      <mat-form-field class="w-full" [appearance]="'outline'">
        <input
          id="password"
          matInput
          type="password"
          [formControlName]="'password'"
          #passwordField
        />
        <button
          mat-icon-button
          type="button"
          (click)="
            passwordField.type === 'password'
              ? (passwordField.type = 'text')
              : (passwordField.type = 'password')
          "
          matSuffix
        >
          @if (passwordField.type === 'password') {
          <mat-icon>visibility</mat-icon>
          } @else {
          <mat-icon>visibility_off</mat-icon>
          }
        </button>
        <mat-error>La contraseña es obligatoria</mat-error>
      </mat-form-field>

      <!-- Acciones -->
      <div class="inline-flex items-center justify-between w-full mt-2">
        <mat-checkbox class="-ml-2" [color]="'primary'" [formControlName]="'rememberMe'">
          Recuérdame
        </mat-checkbox>
        <a
          class="text-md font-medium text-primary-500 hover:underline"
          [routerLink]="['/forgot-password']"
        >
          ¿Olvidaste tu contraseña?
        </a>
      </div>

      <!-- Botón de envío -->
      <button
        class="w-full mt-6"
        mat-flat-button
        [color]="'primary'"
        [disabled]="signInForm.disabled"
        (click)="signIn()"
      >
        @if (!signInForm.disabled) {
        <span>Iniciar sesión</span>
        } @else {
        <mat-progress-spinner [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
        }
      </button>
    </form>
  </div>
</div>