.sidenav-container {
  height: 100vh;
  overflow: hidden;
}

.sidenav {
  width: fit-content !important;
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden !important;
}

.content-inner {
  min-height: 100%;
}



.account-item {
  background-color: var(--mat-list-active-indicator-color, var(--mat-sys-surface-variant));
  border-radius: var(--mat-list-active-indicator-shape, var(--mat-sys-corner-small));
  --mat-focus-indicator-border-radius: var(
    --mat-list-active-indicator-shape,
    var(--mat-sys-corner-small)
  ) !important;
  transition: filter 0.2s ease;
}

.account-item:hover {
  filter: brightness(0.95);
  cursor: pointer;
}
