<mat-sidenav-container class="sidenav-container">
  <!-- Navigation Sidenav (Left) -->
  <mat-sidenav
    #drawer
    class="sidenav overflow-hidden [--mat-sidenav-container-shape:0] rounded-none!"
    fixedInViewport
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <div class="flex flex-col w-full h-full overflow-hidden">
      <!-- Header -->
      <div navHeader class="flex justify-between items-center pt-1 py-0">
        <app-logo [theme]="themeMode()" variant="immo-black-1" [width]="'230px'" [height]="'70px'" />
      </div>

      <!-- Classic Navigation -->
      <nav-classic [navItems]="navItems()" />

      <!-- User Account Section -->
      <div class="flex p-3 w-full h-15 mt-auto bg-surface-soft">
        <user-account [user]="user()" class="cursor-pointer" />
      </div>
    </div>
  </mat-sidenav>

  <!-- Settings Sidenav (Right) -->
  <mat-sidenav
    #settings
    class="overflow-hidden [--mat-sidenav-container-shape:0] rounded-none!"
    position="end"
    mode="over"
  >
    <app-settings
      #settingsPanel
      [class]="'theme-' + themeColor()"
      [currentLayout]="currentLayout()"
      [availableLayouts]="availableLayouts()"
      [availableThemes]="availableThemes()"
      (layoutChange)="layoutChange.emit($event)"
      (themeChange)="themeChange.emit($event)"
      (schemeChange)="schemeChange.emit($event)"
    />
  </mat-sidenav>

  <!-- Main Content -->
  <mat-sidenav-content>
    <mat-toolbar class="z-50">
      <button type="button" mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <span class="flex-1"></span>

      <languages />

      <!-- Settings Button -->
      <button mat-icon-button (click)="settings.open()" aria-label="Open settings">
        <mat-icon>settings</mat-icon>
      </button>
    </mat-toolbar>

    <div class="content-scroll">
      <div class="content-inner">
        <div class="mx-auto">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
